
@{
    Layout = null;
}



<!--A Design by W3layouts
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Course Register Form a Flat Responsive Widget Template :: w3layouts</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Course Register Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <!-- css files -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="~/register/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- //css files -->

    <link rel="stylesheet" href="~/register/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->

</head>
<!-- body starts -->
<body>
    <!-- section -->
    <section class="register">
        <div class="register-full">
            <div class="register-left">
                <div class="register">
                    <div class="logo">
                        <a href="#"><span class="fa fa-graduation-cap" aria-hidden="true"></span></a>
                    </div>
                    <h1>Kütüphanemize kayıt olun</h1>
                    <p>
                        Kayıt olma işleminizi sağdaki panele bilgilerinizi eksiksiz girerek gerçekleştirebilirsiniz.
                        Şimdiden kütüphanemize hoşgeldiniz.
                    </p>
                    <div class="content3">
                        <ul>
                            <li><a class="" href="/Login/Index/"> Giriş Yap</a></li>
                            <li><a class="read" href="/Showcase/Index/"> Ana Sayfaya Dön</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="register-right">
                <div class="register-in">
                    <h2><span class="fa fa-pencil"></span> Kayıt Paneli</h2>
                    <div class="register-form">
                        <form action="#" method="post">
                            <div class="fields-grid">
                                <div class="styled-input agile-styled-input-top">
                                    <input type="text" name="NAME" required="">
                                    <label>Adınız</label>
                                    <span></span>
                                </div>
                                <div class="styled-input agile-styled-input-top">
                                    <input type="text" name="SURNAME" required="">
                                    <label>Soyadınız</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="email" name="MAIL" required="">
                                    <label>Email</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="tel" name="Phonenumber" required="">
                                    <label>Telefon numaranız</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="text" name="username" required="">
                                    <label>Kullanıcı Adı</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="password" name="password" required="">
                                    <label>Password</label>
                                    <span></span>
                                </div>
                                <div class="styled-input agile-styled-input-top">
                                    <select id="category2" required="">
                                        <option value="">Okulunuz</option>
                                        <option value="">İstanbul Üniversitesi</option>
                                        <option value="">Orta Doğu Teknik Üniversitesi</option>
                                        <option value="">Çankaya Üniversitesi</option>
                                        <option value="">Sakarya Üniversitesi</option>
                                        <option value="">Kocaeli Üniversitesi</option>
                                        <option value="">Marmara Üniversitesi</option>
                                    </select>
                                    <span></span>
                                </div>
                                <div class="clear"> </div>
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Kabul ediyorum <a href="#">Şartları Okudum</a></label>
                            </div>
                            <input type="submit" value="Register">
                        </form>
                    </div>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
        </div>
        <!-- copyright -->
        <p class="agile-copyright">© 2021 Library Register Form. Tüm hakları saklıdır. | Design by <a href="https://www.linkedin.com/in/enes-ko%C3%A7er-330a49199/" target="_blank">Enes Koçer</a></p>
        <!-- //copyright -->
    </section>
    <!-- //section -->
</body>
<!-- //body ends -->
</html>
