@model LibraryWeb.Models.Entity.Messages

@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/StudentPageLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>
</head>
<body>
    <br />
    <h3>Mesaj Gönder</h3>

    <div class="container">
        <form method="post">
            <label for="fname">Kime</label>
            <input type="text" id="fname" name="RECEIVER" placeholder="Kime yollayacaksınız..">

            <label for="lname">Konu</label>
            <input type="text" id="lname" name="SUBJECT" placeholder="Bir konu girin..">

            <label for="subject">Mesaj</label>
            <textarea id="subject" name="CONTENT_" placeholder="Bir şeyler yazın.." style="height:200px"></textarea>

            <input type="submit" value="Gönder">
        </form>
    </div>

</body>
</html>
