@using LibraryWeb.Models.Entity
@model List<Personnels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br /><h2>Personel Listesi</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Personel Adı</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personel in Model)
        {
            <tr>
                <td>@personel.ID</td>
                <td>@personel.NAMESURNAME</td>
                <td>@Html.ActionLink("Sil", "DeletePersonnel", new { id = personel.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğinizden emin misiniz?')" })</td>
                <td><a href="/Personnel/GetPersonnel/@personel.ID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Personnel/AddPersonnel/" class="btn btn-primary">Yeni Personel Ekle</a>
<br />
<br />

