
@model LibraryWeb.Models.Entity.Categories

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br /><br />
<form class="form-group" method="post">
    <div style="margin-right:50px;">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="NAME"/>
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-info" style="padding-left: 20px; padding-right: 20px;" id="btn1">Ekle</button>
    </div>
</form>


