@using LibraryWeb.Models.Entity
@model List<Categories>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>
    Kategoriler
</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>KATEGORİ ADI</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.ID</td>
                <td>@category.NAME</td>
                <td><a href="/Category/DeleteCategory/@category.ID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Category/GetCategory/@category.ID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Category/AddCategory/" class="btn btn-primary">Kategori Ekle</a>
<br /><br />